<?xml version="1.0"?>

<model>
  <name>landing_gear</name>
  <version>0.1</version>

  <author>
    <name>Martin Lauersen</name>
    <email>martl14@student.sdu.dk</email>
  </author>


  <maintainer email="martl14@student.sdu.dk">Martin Lauersen</maintainer>


  <description>
    A model of the SDU Drone modified for delivery of AED
  </description>
</model>
