<?xml version="1.0"?>

<model>
  <name>ConVecDro</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Jes Jepsen</name>
    <email>jegj@mmmi.sdu.dk</email>
  </author>


  <maintainer email="jegj@mmmi.sdu.dk">Jes Jepsen</maintainer>


  <description>
    A mode of the 3EA ConVecDro
  </description>
</model>
