<?xml version="1.0"?>
<model>
  <name>Platform</name>
  <version>0.1</version>
  <sdf version="1.6">platform.sdf</sdf>

  <author>
    <name>Søren Madsen</name>
    <email>somad17@student.sdu.dk</email>
  </author>
  <maintainer email="somad17@student.sdu.dk">Søren Madsen</maintainer>
  <description>
    A model for a platform used for takeoff space for a drone.
  </description>
</model>
